.hideit{
  display: none;
}

.tombol{
  border-radius: 10px;
  padding: 6px 12px 6px 12px;

}

.btn-primary:disabled{
  background-color: gray;
  color: darkgray;
  border: white;
}

/* --------------------------Player-------------------------------------- */
.player body {
  background-color: darkgray;
}

.player .padding {
  padding: 3rem !important
}
.player .user-card-full {
  overflow: hidden
}
.player .card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px
}
.player .m-r-0 {
  margin-right: 0px
}
.player .m-l-0 {
  margin-left: 0px
}
.player .user-card-full .user-profile {
  border-radius: 5px 0 0 5px
}
.player .bg-c-lite-green {
  background: -webkit-gradient(linear, left top, right top, from(#0046b7), to(#0046b7));
  background: linear-gradient(to right, #0046b7, #002394)
}
.player .user-profile {
  padding: 20px
}
.player .card-block {
  padding: 1.25rem
}
.player .m-b-25 {
  margin-bottom: 25px
}
.player .img-radius {
  border-radius: 5px
}
.player h6 {
  font-size: 14px
}
.player .card .card-block p {
  line-height: 100px
}
@media only screen and (min-width: 1400px) {
  p {
      font-size: 14px
  }
}
.player .card-block {
  padding: 1.25rem
}
.player .b-b-default {
  border-bottom: 1px solid #e0e0e0
}
.player .m-b-20 {
  margin-bottom: 20px
}
.player .p-b-5 {
  padding-bottom: 5px !important
}
.player .card .card-block p {
  line-height: 25px
}
.player .m-b-10 {
  margin-bottom: 10px
}
.player .text-muted {
  color: #919aa3 !important
}
.player .b-b-default {
  border-bottom: 1px solid #e0e0e0
}
.player .f-w-600 {
  font-weight: 600
}
.player .m-b-20 {
  margin-bottom: 20px
}
.player .m-t-40 {
  margin-top: 20px
}
.player .p-b-5 {
  padding-bottom: 5px !important
}
.player .m-b-10 {
  margin-bottom: 10px
}
.player .m-t-40 {
  margin-top: 20px
}
.player .user-card-full .social-link li {
  display: inline-block
}
.player .user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.player .progress {
  width: 80px;
  height: 80px;
  background: none;
  position: relative;
}
.player .progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}
.player .progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.player  .progress .progress-left {
  left: 0;
}
.player .progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.player  .progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.player  .progress .progress-right {
  right: 0;
}
.player .progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}
.player .progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}

/* End  */

/* 
.dashboard {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)), url("assets/img/dashboard-bg.jpg") fixed center center;
  background-size: cover;
  padding: 120px 0;
  color: #fff;
}

.player {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)), url("assets/img/player-bg.jpg") fixed center center;
  background-size: cover;
  padding: 120px 0;
  color: #aaa;
}

.gm {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)), url("assets/img/gm-bg.jpg") fixed center center;
  background-size: cover;
  padding: 120px 0;
  color: #fff;
}

.visitor {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)), url("assets/img/visitor-bg.jpg") fixed center center;
  background-size: cover;
  padding: 120px 0;
  color: #fff;
}

.gm td {
  color: #fff;
}

.gm a {
  color: #ff0;
  font-style: underline;
}

#tambah_room td {
  padding: 3px;
}

.dashboard h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.dashboard p, .visitor p, .player p, .gm p {
  color: #fff;
}

.dashboard .tddas {
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
} */

/* .dashboard .tddas:hover {
  color: #ff0;
  background-color: white;
}

.dashboard .tdlead:hover {
  color: #f00;
  background-color: white;
}

.divjudul{
  background: linear-gradient(rgba(0, 255, 0, 0.4), rgba(0, 255, 0, 0.8));
  border: solid 1px #bbb;
  padding: 3px;
  text-align: center;
}

.divisi{
  background: linear-gradient(rgba(0, 25, 0, 0.4), rgba(0, 25, 0, 0.5));
  border: solid 1px #bbb;
  padding: 3px;
}

.player a:hover{
  border: solid 1px #f00;
}

.player   .img_btn {
  border: solid 1px red;background-color: white; border-radius: 5px; padding: 1px;
} */